.loader{
    display: flex;
    align-items: center;
    width: 100vw;
    height:100vh;
}

.point, .circles, .bar{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content:center;
    height:100%;
    width:25vw;
}

.circles{
    background-color: black;
}

.dot{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}

.d2{
    animation-delay: 0.05s;
}

.d3{
    animation-delay: 0.1s;
}

@keyframes loader {
    100%{
        transform:translateY(-30px);
    }
}

.circle{
    display: block;
    position: relative;
    width:250px;
    height:250px;
    border-radius: 50%;
    border:7px solid transparent;
    border-top-color:red;
    animation: spin 2s linear infinite;
}

.circle::before, .circle::after{
    content:"";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.circle::before{
    top:7px;
    left:7px;
    bottom:7px;
    right:7px;
    border-top-color:crimson;
    animation: spin 3s linear infinite;
}

.circle::after{
    top:20px;
    left:20px;
    bottom:20px;
    right:20px;
    border-top-color:pink;
    animation: spin 1.5s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    50%{
        border-top-color:rgba(0, 0, 0, 0.6);
    }
    to{
        transform: rotate(360deg);
    }
}

.bar div{
    background-color: blueviolet;
    width:1%;
    height:5%;
}